html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, button
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 11px;
  font-style: normal;
  line-height: 16px;
}

body {
  background: #ffffff;
}

p,
p * {
  font-family: "Times New Roman", serif;
  font-size: 13px;
}

p strong {
  font-weight: bold;
  color: #ef2446;
}

p a {
  font-weight: bold;
}

a, a:visited {
  color: #ef2446;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

a.more {
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding-right: 19px;
  background: url(../img/more2.gif) no-repeat;
  background-position: right center;
}

#wrapper {
  width: 900px;
  background: url(../img/bg3.png) no-repeat;
  height: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

body.oneline #wrapper {
  background-position: left top;
}

body.twolines #wrapper {
  background-position: left 35px;
}

body.oneline #mask {
  background: url(../img/bg-oneline.gif) no-repeat;
}

body.twolines #mask {
  background: url(../img/bg-twolines.gif) no-repeat;
}

body #mask {
  background-position: left top;
  overflow: hidden;
}

#logo {
  width: 73px;
  height: 37px;
  background: url(../img/logo2.png) no-repeat;
  margin-top: 22px;
}

div.left {
  width: 124px;
  float: left;
}

#logo {
  width: 73px;
  height: 37px;
}

div.left ul.menu {
  padding-left: 1px;
  margin-top: 34px;
}

div.left ul.menu li {
  margin-bottom: 1px;
}

div.left ul.menu li a {
  color: #000000;
  font-family: Georgia, serif;
  font-size: 12px;
  white-space: nowrap;
}

div.left ul.menu li.selected a,
div.left ul.menu li a:hover {
  color: #ef2446;
  text-decoration: none;
}

#content {
  position: relative;
}


#content div.scrollbar {
  width: 14px;
  height: 100%;
  float: right;
  position: relative;
  background: url(../img/scrollbar.png) no-repeat;
  clear: right;
}

#content div.scrollbar div.scroll {
  width: 14px;
  height: 14px;
  background: urL(../img/scroll.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

#content div.scroll-container {
  height: 100%;
  overflow: hidden;
}

#content ul.lang {
  display: block;
  float: right;
  overflow: hidden;
  margin-top: 18px;
}

#content ul.lang li {
  padding-left: 8px;
  float: left;
}

#content ul.lang li,
#content ul.lang li a {
  height: 8px;
  display: block;
  text-indent: -1000em;
  overflow: hidden;
  background-position: left top;
}

#content ul.lang li.pl a {
  width: 8px;
  background: url(../img/menu/pl.png) no-repeat;
}

#content ul.lang li.en a {
  width: 11px;
  background: url(../img/menu/en.png) no-repeat;
}

#content ul.lang li.de a {
  width: 12px;
  background: url(../img/menu/de.png) no-repeat;
}

#content ul.menu {
  display: block;
  float: right;
  margin-top: 19px;
  overflow: hidden;
  clear: right;
}

#content ul.menu li,
#content ul.menu li a {
  display: block;
  height: 12px;
  text-indent: -1000em;
  overflow: hidden;
  background-position: left top;
}

#content ul.menu li {
  float: left;
  padding-left: 18px;
}

#content ul.menu li.home a {
  width: 31px;
  background: url(../img/menu/home.png) no-repeat;
}

#content ul.menu li.firm a {
  width: 30px;
  background: url(../img/menu/firm.png) no-repeat;
}

#content ul.menu li.services a {
  width: 32px;
  background: url(../img/menu/services.png) no-repeat;
}

#content ul.menu li.portfolio a {
  width: 44px;
  background: url(../img/menu/portfolio.png) no-repeat;
}

#content ul.menu li.work a {
  width: 30px;
  background: url(../img/menu/work.png) no-repeat;
}

#content ul.menu li.contact a {
  width: 41px;
  background: url(../img/menu/contact.png) no-repeat;
}

#content ul.menu li.blog a {
  width: 24px;
  background: url(../img/menu/blog.png) no-repeat;
}

#content div.title {
  width: 470px;
  clear: right;
  overflow: hidden;
  padding: 28px 0 12px 31px;
}

body.oneline #content div.title {
  height: 81px;
}

#content div.title h1 {
  width: 470px;
  height: 116px;
  text-indent: -1000em;
  display: none;
}

#content div.title h1.viral {
  background: url(../img/h1-viral.png) no-repeat;
}

#content div.title h1.ads {
  background: url(../img/h1-ads.png) no-repeat;
}

#content div.title h1.blogs {
  background: url(../img/h1-blogs.png) no-repeat;
}

#content div.title h1.ecommerce {
  background: url(../img/h1-ecommerce.png) no-repeat;
}

#content div.title h1.web20 {
  background: url(../img/h1-web20.png) no-repeat;
}

#content div.title h1.usability {
  background: url(../img/h1-usability.png) no-repeat;
}

#content div.title h1.seosem {
  background: url(../img/h1-seosem.png) no-repeat;
}

#content div.title h1.epr {
  background: url(../img/h1-epr.png) no-repeat;
}

#content div.title h1.stats {
  background: url(../img/h1-stats.png) no-repeat;
}

#content div.title h1.evideo {
  background: url(../img/h1-evideo.png) no-repeat;
  display: block;
}

#content div.video {
  width: 484px;
  padding-top: 378px;
  background: url(../img/frame-video.png) no-repeat;
  overflow: hidden;
  position: relative;
}

#content div.video #flashVideo {
  position: absolute;
  top: 25px;
  left: 22px;
}

#content div.video a.more {
  padding-top: 2px;
  padding-left: 13px;
  display: block;
  float: left;
}

#content div.definition {
  padding: 42px 13px 17px 70px;
  width: 240px;
  height: 271px;
  background: url(../img/frame-definition.gif) no-repeat;
  background-position: left bottom;
  float: right;
  position: absolute;
  top: 286px;
  right: -1px;
}

#content div.definition h2 {
  width: 223px;
  height: 24px;
  text-indent: -1000em;
  background: url(../img/h2-ourdefinition.png) no-repeat;
  position: absolute;
  top: 0px;
  left: 59px;
}

#content div.definition div.scrollbar {
  margin-left: 5px;
}

#content div.comments {
  background: url(../img/frame-comments.gif) no-repeat;
  margin-left: 35px;
  padding: 66px 14px 15px 21px;
  width: 543px;
  height: 311px;
  position: relative;
}

#content div.comments h2 {
  width: 174px;
  height: 31px;
  position: absolute;
  top: 15px;
  left: 12px;
  background: url(../img/h2-comments.png) no-repeat;
  text-indent: -1000em;
}

#content div.comments a.more {
  float: right;
  margin-right: 23px;
}

#content div.comments div.scrollbar {
  margin-left: 12px;
}

#content div.comments div.scrollbar div.scroll {
  top: 125px;
}

#content div.comments div.scroll-container {
  margin-top: 19px;
}

#content div.comments dl {
  padding-bottom: 9px;
  background: url(../img/dash-comments.png) no-repeat;
  background-position: left bottom;
  margin-bottom: 3px;
}

#content div.comments dl:last-child {
  background: none;
}

#content div.comments dl *,
#footer * {
  font-family: "Times New Roman", serif;
  font-size: 13px;
}

#footer {
  clear: both;
  word-spacing: -2px;
  padding: 4px 0 0 1px;
  margin-top: 33px;
  background: url(../img/dash-footer.png) no-repeat;
}
